<template>
  <div>
    <p>{{ counter2 }}</p>
    <div style="text-align: center;">
      <button @click="increment()">+</button>
      <button @click="decrement()">-</button>
    </div>
    <p>{{ counter1 }}</p>
  </div>
</template>

<script>
import store from '@/stores/stores'
export default {
  name: 'myVuex',
  data () {
    return {
    }
  },
  store: store,
  computed: {
    counter1 () {
      return this.$store.state.count
    },
    counter2 () {
      return this.$store.getters.counters
    }
  },
  methods: {
    // using mutations from Vuex
    increment () {
      this.$store.commit('increment')
    },
    decrement () {
      this.$store.commit('decrement')
    }
  }
}
</script>
